:root {
  --bg-transp-color: #13181e7a;
  --main-black: #13181e;
  --main-blue: #233658;
  --lighter-blue: #5c7598;
  --lightest-blue: #acb7c9;
  --grey: #dbe2ea;
  --main-white: #ebebed;
  --main-white-transp: #ffffff91;
  --main-yellow: #fcfe8e;

  --h1-size: 64px;
  --h2-size: 56px;
  --h3-size: 48px;
  --h4-size: 36px;
  --h5-size: 22px;

  --p-md-size: 16px;
  --p-sm-size: 14px;
}

* {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.py-md-5 {
  padding: 5rem 0 !important;
}
