.where__donate {
  background-color: var(--lighter-blue);
}

.where__header,
.where__subhead {
  color: var(--main-white);
}

.where__cards {
  overflow: hidden;
}

.where__card {
  height: 100%;
  background-color: transparent;
  border: none;
  transition: transform 0.2s;
  transition: all 250ms ease-in-out;
  /* overflow: hidden; */
}

.where__card:hover {
  transform: scale(1.1);
  /* overflow: hidden; */
}

.where__img {
  height: 150px;
  filter: drop-shadow(2px 2px 7px var(--lightest-blue));
}

.where__card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.where__card-title {
  color: var(--main-white);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.where__btn {
  font-size: var(--p-normal);
}
